body {
    background-color: cornflowerblue;
    font-family: "Droid Sans", sans-serif;
    color: black;
    width: 900px;
}

nav {
    background-color: darkseagreen;
    display: flex;
    justify-content: space-around;
}

nav a {
    color: black;
    display: inline-block;
    font-size: large;
    margin: 20px;
}

footer {
    position: absolute;
    bottom: 100px;
}