body {
    background-color: cornflowerblue;
    font-family: "Droid Sans", sans-serif;
    color: black;
    width: 900px;
}

nav {
    background-color: darkseagreen;
    position: absolute;
    top: 100px;
}

nav a {
    color: black;
    display: inline-block;
    font-size: large;
}